.container-main{
    display: flex;
    overflow-x: hidden;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10%;
    text-align: center;
}
.opcoes {
    background-color: white;
    border: 2px solid rgba(51, 51, 51, 0.04);
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04);
    display: flex;
    flex: 20%;
    flex-direction: column;
    align-items: center;
}
  
.opcoes>button {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color:  #BB0000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }

.resultados{
    background-color: white;
    text-align: center;
    flex: 80%;
}
.codigo-interno, .nome-produto {
    align-items: center;
    justify-content: center;
}

.codigo-interno>input{
    width: 60%;
    
}
.nome-produto>input{
    width: 60%;
}
.btn-pesquisa{
    padding: 8px 8px;
    margin-top: 1%;
    background-color: #BB0000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32;
    text-align: center;
}
.escondido{
    text-align: center;
}
#result {
      border: solid;
      border-width: 1px;
      padding: 5px;
      margin-top: 10px;
    }
#camera{
        position: relative;
        width: 300px; /* largura desejada */
        height: 150px;
        height: auto;
        overflow: hidden;
        text-align: center;
}
@media screen and (max-width: 800px) {
    .body{
        width: 100%;
    }
    
    .container-main{
        display: block;
    }
    .imagem-header > img {
        width: 150px;
        height: 60px;
    }
    h2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 10%;
        text-align: center;
    }
    .resultados {
        border-top:5px solid #BB0000;
        margin-top: 15px;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #result{
        width: 100%;
        text-align: left;
    }
    .codigo-interno>input,.nome-produto>input{
        width: 250px;
    }
}